{{- 'currency-switcher.css' | asset_url | stylesheet_tag -}}
<script src="{{ 'currency-switcher.js' | asset_url }}" defer="defer"></script>

<currency-switcher>
  <nav class="currency-switcher header__link-color-change">
    <button type="button" class="currency-switcher__active header__link-color-change hover-icon hover-underline hover-underline--icon">
      {{ cart.currency.iso_code | append: ' ' | append: '(' | append: cart.currency.symbol | append: ')' }}

      <span class="icon">{% render 'icon-arrow-dropdown' %}</span>
    </button><!-- /.currency-switcher__active -->

    {%- form 'currency' -%}
      <ul class="list-unstyled">
        {% for currency in shop.enabled_currencies %}
          {% if currency != cart.currency %}
            <li>
              <input type="radio" id="{{ currency.name }}-{{ id }}" name="currency" value="{{ currency.iso_code }}">
              <label class="hover-underline" for="{{ currency.name }}-{{ id }}">{{ currency.iso_code }} ({{ currency.symbol }})</label>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {%- endform -%}
  </nav><!-- /.currency-switcher -->
</currency-switcher>
