{% if product.selling_plan_groups != blank %}
  <script src="{{ 'purchase-options.js' | asset_url }}" defer="defer"></script>

  {% assign current_variant = product.selected_or_first_available_variant %}

  <purchase-options>
    {%- if block.title != blank -%}
      <h6 class="product__plans-title">
        {{- block.title | escape -}}
      </h6><!-- /.product__plans-title -->
    {%- endif -%}

    <div class="product__plans-body">
      <div class="product__plan-group product__plan-group--default">
        <div class="product__plan-group-inner">
          <div class="product__plan">
            <div class="product__plan-inner">
              <div class="product__plans-group-selector">
                <input class="visually-hidden" type="radio" id="Product-Selling-Plan-Group--One-Time" name="selling_plan_group" checked value="one-time">
                <label for="Product-Selling-Plan-Group--One-Time">
                  <span class="product__plan-radio-icon">
                    {%- render 'icon-dot' -%}
                  </span>

                  {{ 'products.product.selling_plans.groups.one_time' | t }}
                </label>
              </div><!-- /.product__plans-group-selector -->

              <div class="product__plan-price">
                {% if current_variant.compare_at_price > current_variant.price %}
                  <del>{{ current_variant.compare_at_price | money }}</del>
                {% endif %}

                <ins>{{ current_variant.price | money }}</ins>
              </div><!-- /.product__plan-price -->
            </div><!-- /.product__plan-inner -->
          </div><!-- /.product__plan -->
        </div><!-- /.product__plan-group-inner -->
      </div><!-- /.product__plan-group product__plan-group--default -->

      {% for selling_plan_group in product.selling_plan_groups %}
        <div class="product__plan-group" data-selling-plan-group>
          <div class="product__plans-group-selector">
            <input class="visually-hidden" type="radio" id="{{ selling_plan_group.id }}" name="selling_plan_group" value="{{ selling_plan_group.id }}">
            <label for="{{ selling_plan_group.id }}">
              <span class="product__plan-radio-icon">
                {%- render 'icon-dot' -%}
              </span>

              {{ selling_plan_group.name }}
            </label>
          </div><!-- /.product__plans-group-selector -->

          {% for group_option in selling_plan_group.options %}
            <div class="product__plans-group-options">
              <h6>{{ group_option.name }}</h6>

              <div class="product__plan-group-inner">
                {% for selling_plan in selling_plan_group.selling_plans %}
                  {%- assign current_variant_selling_plan_allocation = current_variant.selling_plan_allocations | where: 'selling_plan', selling_plan | first -%}

                  <div class="product__plan">
                    <div class="product__plan-inner">
                      <div class="product__plan-info">
                        <input class="visually-hidden" type="radio" id="{{ selling_plan.id }}" name="selling_plan" value="{{ selling_plan.id }}">
                        <label for="{{ selling_plan.id }}">
                          <span class="product__plan-radio-icon">
                            {%- render 'icon-dot' -%}
                          </span>

                          {{ selling_plan.name }}
                        </label>

                        {%- if selling_plan.description -%}
                          <p class="product__plan-description">
                            {{- selling_plan.description | escape -}}
                          </p><!-- /.product__plan-description -->
                        {%- endif -%}
                      </div><!-- /.product__plan-info -->

                      <div class="product__plan-price">
                        {% if current_variant.price > current_variant_selling_plan_allocation.per_delivery_price %}
                          <del>{{ current_variant.compare_at_price | money }}</del>
                        {% endif %}

                        <ins>{{ current_variant_selling_plan_allocation.per_delivery_price | money }}</ins>
                      </div><!-- /.product__plan-price -->
                    </div><!-- /.product__plan-inner -->
                  </div><!-- /.product__plan -->
                {% endfor %}
              </div><!-- /.product__plan-group-inner -->
            </div><!-- /.product__plans-group-options -->
          {% endfor %}
        </div><!-- /.product__plan-group -->
      {% endfor %}
    </div><!-- /.product__plans-body -->
  </purchase-options>
{% endif %}




{% comment %} <purchase-options class="product__plans mb-m" id="Product-Purchase-Options-{{- section.id -}}">
  {%- if block.settings.title != blank -%}
    <h2 class="product__plans-title h5 mt-0 mb-s">
      {{- block.settings.title | escape -}}
    </h2><!-- /.product__plans-title -->
  {%- endif -%}

  <fieldset class="product__plans-body">
    <div class="product__plan-group{% if current_variant.requires_selling_plan %} hidden{% endif %}">
      <div class="product__plan-group-inner">
        {%-
          liquid
          assign label = 'products.product.selling_plans.groups.one_time' | t
          assign checked = false
          if current_variant.requires_selling_plan == false and current_variant.selected_selling_plan_allocation == nil
            assign checked = true
          endif
          render 'radio-input', name: 'selling_plan_group', id: 'Product-Selling-Plan-Group--One-Time', label: label, value: 'one-time', checked: checked, class: 'product__plan-single'
          assign label = nil
          assign checked = nil
        -%}

        <div class="product__plan-price-single right">
          {%- if current_variant.compare_at_price > current_variant.price -%}
            <del class="p4">
              {%- if settings.show_currency_codes -%}
                {{- current_variant.compare_at_price | money_with_currency -}}
              {%- else -%}
                {{- current_variant.compare_at_price | money -}}
              {%- endif -%}
            </del>

            <br>

            <ins class="p3 bold">
              {%- if settings.show_currency_codes -%}
                {{- current_variant.price | money_with_currency -}}
              {%- else -%}
                {{- current_variant.price | money -}}
              {%- endif -%}
            </ins>
          {%- else -%}
            <span class="p3 bold">
              {%- if settings.show_currency_codes -%}
                {{- current_variant.price | money_with_currency -}}
              {%- else -%}
                {{- current_variant.price | money -}}
              {%- endif -%}
            </span>
          {%- endif -%}
        </div><!-- /.product__plan-price-single -->
      </div><!-- /.product__plan-group-inner -->
    </div><!-- /.product__plan-group -->

    {%-
      liquid
      assign selling_plan_group_selected = false
      assign selling_plan_selected = false
    -%}
    {%- for selling_plan_group in product.selling_plan_groups -%}
      {%- unless current_variant_selling_plan_allocations_group_ids contains selling_plan_group.id -%}
        {%- continue -%}
      {%- endunless -%}

      <div class="product__plan-group" data-selling-plan-group>
        {%-
          liquid
          assign label = selling_plan_group.name | escape
          assign id = 'Product-Selling-Plan-Group--' | append: selling_plan_group.id
          assign checked = false
          if current_variant.selected_selling_plan_allocation.selling_plan_group_id == selling_plan_group.id
            assign checked = true
            assign selling_plan_group_selected = true
          elsif current_variant.requires_selling_plan and current_variant.selected_selling_plan_allocation == nil and selling_plan_group_selected == false
            assign checked = true
            assign selling_plan_group_selected = true
          endif
          render 'radio-input', name: 'selling_plan_group', id: id, label: label, value: selling_plan_group.id, checked: checked, class: 'product__plans-group-selector mb-xs'
          assign label = nil
          assign id = nil
          assign checked = nil
        -%}

        {%- for selling_plan_group_option in selling_plan_group.options -%}
          <fieldset class="product__plans-group-options">
            <legend class="p3 uppercase mb-xs">{{- selling_plan_group_option.name -}}</legend>

            {%- for selling_plan in selling_plan_group.selling_plans -%}
              {%- assign current_variant_selling_plan_allocation = current_variant.selling_plan_allocations | where: 'selling_plan', selling_plan | first -%}

              <div class="product__plan">
                <div class="product__plan-info">
                  {%-
                    liquid
                    assign label = selling_plan.name | escape
                    assign id = 'Product-Selling-Plan--' | append: selling_plan.id
                    assign checked = false
                    if current_variant.selected_selling_plan_allocation.selling_plan.id == selling_plan.id
                      assign checked = true
                    elsif selling_plan.group_id == selling_plan_group.id and forloop.first and selling_plan_selected == false and current_variant.requires_selling_plan
                      assign checked = true
                      assign selling_plan_selected = true
                    endif
                    assign attr = 'form="' | append: product_form_id | append: '"'
                    render 'radio-input', name: 'selling_plan', id: id, label: label, value: selling_plan.id checked: checked, attr: attr
                    assign label = nil
                    assign id = nil
                    assign checked = nil
                    assign attr = nil
                  -%}

                  {%- if selling_plan.description -%}
                    <p class="product__plan-description p4 italic mt-0 mb-0">{{- selling_plan.description | escape -}}</p><!-- /.product__plan-description -->
                  {%- endif -%}
                </div><!-- /.product__plan-info -->

                <div class="product__plan-price right">
                  {%- if current_variant.price > current_variant_selling_plan_allocation.per_delivery_price -%}
                    <del class="p4">
                      {%- if settings.show_currency_codes -%}
                        {{- current_variant.price | money_with_currency -}}
                      {%- else -%}
                        {{- current_variant.price | money -}}
                      {%- endif -%}
                    </del>

                    <br>

                    <ins class="p3 bold">
                      {%- if settings.show_currency_codes -%}
                        {{- current_variant_selling_plan_allocation.per_delivery_price | money_with_currency -}}
                      {%- else -%}
                        {{- current_variant_selling_plan_allocation.per_delivery_price | money -}}
                      {%- endif -%}
                    </ins>
                  {%- else -%}
                    <span class="p3 bold">
                      {%- if settings.show_currency_codes -%}
                        {{- current_variant_selling_plan_allocation.price | money_with_currency -}}
                      {%- else -%}
                        {{- current_variant_selling_plan_allocation.price | money -}}
                      {%- endif -%}
                    </span>
                  {%- endif -%}
                </div><!-- /.product__plan-price -->
              </div><!-- /.product__plan -->
            {%- endfor -%}
          </fieldset><!-- /.product__plans-group-options -->
        {%- endfor -%}
      </div><!-- /.product__plan-group -->
    {%- endfor -%}
  </fieldset><!-- /.product__plans-body -->
</purchase-options><!-- /.product__plans --> {% endcomment %}
